/* MovieHall.css */* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    height: 100%;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
}

.sidebarHead{
    text-align: center;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar li > a:hover {
    background: #fff;
    color: #333;
}

.main-content {
    padding: 50px;
    flex: 1;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        height: auto;
        width: 100%;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

table td {
    background-color: #fff;
}

table tr:last-child td {
    border-bottom: none;
}

table td a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

table td a:hover {
    text-decoration: underline;
}
